html {
  background: #ffffff;
}

body {
  font: normal 14px/20px 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
